{% load static %}
<!-- page preloader begin -->
<div id="de-loader"></div>
<!-- page preloader close -->

<!-- header begin -->
<header class="transparent header-light header-float">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner">
                    <div class="de-flex">

                        <!-- Logo -->
                        <div class="de-flex-col">
                            <div id="logo">
                                <a href="{% url 'home' %}">
                                    <img class="logo-main" src="{% static 'images/logo/logo.webp' %}" alt="">
                                    <img class="logo-scroll" src="{% static 'images/logo/logo.webp' %}" alt="">
                                    <img class="logo-mobile" src="{% static 'images/logo/logo.webp' %}" alt="">
                                </a>
                            </div>
                        </div>

                        <!-- Menu -->
                        <div class="de-flex-col">
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">

                                    <li><a class="menu-item" href="{% url 'home' %}">Home</a></li>
                                    <li><a class="menu-item" href="{% url 'about' %}">About Us</a></li>
                                    <li><a class="menu-item" href="{% url 'services' %}">Services</a>
                                        <ul>
                                            {% for s in services %}
                                                <li>
                                                    <a href="{% url 'servicedetails' s.id %}">{{ s.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        
                                    </li>   
                                    <li><a class="menu-item" href="{% url 'products' %}">Shop</a></li>
                                    <li><a class="menu-item" href="{% url 'blog_list' %}">Blog</a></li>
                                    <li><a class="menu-item" href="{% url 'news_list' %}">News</a></li>

                                    <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Book Button + Mobile Menu -->
                        <div class="de-flex-col">
                            <a class="btn-main fx-slide w-100" href="{% url 'book_your_visit' %}">
                                <span>Book Free Eye Test</span>
                            </a>

                            <div class="menu_side_area">
                                <span id="menu-btn"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header close -->
