{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Visionmark Opticals & Eyecare | Our Services</title>
    {% include 'base/header.html' %}
</head>

<body>
    <div id="wrapper">
        <a href="#" id="back-to-top"></a>

        {% include 'base/navbar.html' %}
        <!-- content begin -->
        <main>

            <div id="top"></div>

            <section id="subheader" class="bg-color-op-1">
                <div class="container relative z-2">
                    <div class="row gy-4 gx-5 align-items-center">
                        <div class="col-lg-12">
                            <h1 class="split">Our Services</h1>
                            <ul class="crumb wow fadeInUp">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="active">Our Services</li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative">
                <div class="container relative z-2">
                    <div class="row g-4">
            
                        <!-- Free Eye Test -->
                        {% for s in services %}
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0s">
                            <div class="hover">
                                <div class="relative overflow-hidden rounded-1">
                                    <a href="{% url 'servicedetails' s.id %}" class="d-block hover">
                                        <div class="relative overflow-hidden rounded-1">
                                            <img src="{{ s.image.url }}" class="w-100 hover-scale-1-2" alt="">
                                            <div class="gradient-edge-bottom color h-90 op-8"></div>
                                        </div>
            
                                        <div class="p-4 relative bg-white rounded-1 mx-4 mt-min-100 z-2">
                                            <div class="abs top-0 end-0 mt-min-30 me-4 circle bg-color w-60px h-60px">
                                                <img src="{% static 'images/misc/up-right-arrow.webp' %}" class="w-60px p-20" alt="">
                                            </div>
                                            <h4>{{ s.name }}</h4>
                                            <p class="mb-0">{{ s.description }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            

            <section class="bg-color relative text-light pt-50 pb-50">
                <div class="container relative z-2">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-9">
                            <h3 class="mb-0 fs-32 split">Clear Vision Starts Here. Schedule Your Eye Exam Today</h3>
                        </div>
                        <div class="col-lg-3 text-lg-end">
                            <a class="btn-main btn-line fx-slide" href="{% url 'book_your_visit' %}"><span>Book Your Visit</span></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- content close -->
        
        {% include 'base/footer.html' %}
    </div>

</body>

</html>